<div class="simpli-info">
  <h3>Template Information</h3>
  <span class="tpl-preview"><img src="http://joomlart.s3.amazonaws.com/images/blog/2016/ja-simpli/simpli_preview.png" alt="JA Simpli" /></span>
  <div class="tpl-info">
    <p><strong>JA Simpli</strong> has been developed with the Joomla default templates in mind. We have tried to add the features that are missing from the default Joomla templates. No frameworks, default Joomla Bootstrap version but with tons of features and no coding skills required. JA Simpli is perfect starter Joomla template that should meet all your requirements: from a simple to complex Joomla projects, personal blog to professional business portfolio site. The template layout is super flexible to adapt for any purpose with ease. With <strong>4 premade Home variants</strong>, you have more choices to start with.

    <p>Why Simpli? Well structured, lightweight, no framework, clean code, powerful theme customizer and layout manager. On top of that enhanced <strong>compatibility with 3rd party extensions</strong>. Already tested for Stackideas Joomla Extensions such as <strong>EasyBlog, EasySocial, EasyDiscuss and Komento</strong>.</p>

    <ul class="quick-links">
      <li><a href="https://www.joomlart.com/" title="JoomlArt" ref="noflow"><i class="fa fa-info-circle"></i>Template Detail</a></li>
      <li><a href="https://www.joomlart.com/" title="JoomlArt" ref="noflow"><i class="fa fa-desktop"></i>Demo</a></li>
      <li><a href="https://www.joomlart.com/" title="JoomlArt" ref="noflow"><i class=" fa fa-download"></i>Download</a></li>
      <li><a href="https://www.joomlart.com/" title="JoomlArt" ref="noflow"><i class=" fa fa-file-text"></i>Documentation</a></li>
      <li><a href="https://www.joomlart.com/" title="JoomlArt" ref="noflow"><i class=" fa fa-question-circle"></i>Forum</a></li>
    </ul>
  </div>
</div>
<script>
	jQuery(document).ready(function($){
		// move content to detail
		$('#details > .row-fluid > .span9').empty().append($('.simpli-info'));
	})
</script>